{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour Guide</title>
        <link rel="stylesheet" href="{%  static 'style.css'%}">

</head>
<body>
<div class="header">
  <h1>Guide Tour</h1>
</div>


<div class="positioned">

    <button type="button" id="startGameBtn" class="btn btn-primary btn-lg btn-block">Start game</button>

    <button type="button" class="btn btn-secondary btn-lg btn-block">Quit game</button>


  <ul class="list-group list-group-flush">
    <li class="list-group-item">Points: </li>
    <li class="list-group-item">Currencies guessed: </li>
      <li class="list-group-item">Flags guessed: </li>
    <li class="list-group-item">Languages guessed: </li>

  </ul>
</div>
</div>

<script>
// Targeting the button by its ID
const startButton = document.getElementById('startGameBtn');

// Adding a click event listener to the button
startButton.addEventListener('click', function() {
    prompt("Write your name!");  // Show an alert when the button is clicked
});
</script>

<div class="cards-container">
    <!-- Original Card -->
    <div class="card">
        <h4><b>Rules</b></h4>
        <p>The player must choose a country to travel, then it must guess the correct flag/currency/language of said country.</p>
        <div class="container">
            <img src="{% static 'avion.jpg' %}" alt="Tour image">
        </div>
    </div>

    <!-- Larger Card -->
    <div class="card large-card">
        <h4><b>Insert guess here</b></h4>
        <p>Guess the country of this monument.</p>
        <div class="container">
            <img src="{% static 'avion.jpg' %}" alt="Tour image">
        </div>
    </div>
</div>

</div>


</body>
</html>