{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>Guide Tour</title>
</head>
<body>
    <div class="container">
        <main>
            <header class="page-header">
                <div class="logo">
                    <a href="#"><img src="{% static 'QWlogo2.png' %}" alt="logo here"></a>
                </div>
                <nav>
                    <ul class="nav">
                        <li>
                            <a href="try.html">Guide Tour</a>
                        </li>
                        <li>
                            <a href="#">Ohjelmisto 2 Projekti</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <div class="horizontal">
                <div class="part1">
                    <ul class="part1-ul">
                        <li class="rules">
                            <p class="spec-h">RULES</p>
                            <br>
                            <p class="spec-g">The player will travel to 5 random countries and must respond 5 multiple choice questions about that country.</p>
                            <p class="spec-g"> Correct answer adds up 5 points and incorrect answer will deduct 3 points. </p>
                            <br>
                            <p class="spec-g">1)Guess the country flag.</p>
                            <p class="spec-g">2)Guess the capital city.</p> 
                            <p class="spec-g">3)Guess the language.</p> 
                            <p class="spec-g">4)Guess the currency.</p> 
                            <p class="spec-g">5)Guess population.</p>
                            
                            
                        </li>
                         <li class="info">
                            <p class="spec-h">Ryhmä 5</p>
                             <br>
                            <p class="spec-g">Michael Blas Palpa </p>
                            <p class="spec-g">Mim Farha </p>
                            <p class="spec-g">Artem Lukianenkov </p>
                            <p class="spec-g">Matias Villa </p>
                        </li>
                    </ul>
                </div>
                <div class="part2">
                    <ul class="part2-ul">
                        <li class="buttons">
                            <button class="basic-button" onclick="startGame()">START</button>
                            <button class="basic-button" onclick="confirm('Sure you want to quit?');">QUIT</button>
                        </li>
                        <li class="stats">
                            <p class="spec-h">STATS</p>
                            <p class="spec-g" id="nombre">Player name: </p>
                            <p class="spec-g">Points: </p>
                            <p class="spec-g">Correct answers: </p>
                            <p class="spec-g">Incorrect answers: </p>
                        </li>
                        <li class="info">
                            <p class="spec-h">INFO</p>
                            
                        </li>
                    </ul>
                </div>
                <div class="part3">
                    <div class="peli"></div>
                    <h1 id="titulo"></h1>
                    <div id="game-container"></div>
                    <script src="{% static 'game.js'%}" defer></script>
                    <div id="results"></div>
                    <div id="opciones"></div>
                    <div id="next"></div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>



