<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <main>
            <header class="page-header">
                <div class="logo">
                    <a href="mypage2.html"><img src="QWlogo2.png" alt="logo here"></a>
                </div>
                <nav>
                    <ul class="nav">
                        <li>
                            <a href="mypage2.html">OTSIKKO</a>
                        </li>
                        <li>
                            <a href="mypage3.html">?????</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <div class="horizontal">
                <div class="part1">
                    <ul class="part1-ul">
                        <li class="rules">
                            <p class="spec-h">RULESS</p>
                        </li>
                        <li class="map">MAP</li>
                    </ul>
                </div>
                <div class="part2">
                    <ul class="part2-ul">
                        <li class="buttons">
                            <button class="basic-button">START</button>
                            <button class="basic-button">QUIT</button>
                        </li>
                        <li class="stats">
                            <p class="spec-h">STATS</p>
                        </li>
                        <li class="info">
                            <p class="spec-h">INFO</p>
                        </li>
                    </ul>
                </div>
                <div class="part3">
                    <div class="peli">PELI</div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>








