html, body {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    background-color: white;
    width: 95%;
    height: 95%;
    margin: 2.5% auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    background-color: lightblue;
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    height: 50px;
}

.central-container {
    background-color: lightgreen;
    position: absolute;
    top: 13%;  
    left: 13%;
    width: calc(74%);  
    height: calc(74%); 
    display: flex;
}

.left-part {
    background-color: red;
    width: 65%;
    height: 100%;
}

.right-part {
    background-color: blue;
    width: 35%;
    height: 100%;
}

.buttons {
    background-color: aqua;
    width: 100%;
    height: 8%;
}

.stats {
    background-color: bisque;
    width: 90%;
    height: 87%;
    margin: 4% auto;
}

.map {
    background-color: blueviolet;
    width: 100%;
    height: 40%;
}

.players {
    background-color: brown;
    width: 100%;
    height: 60%;
}

.button {
    width: 33.333%;
    height: 100%;
}

.questions {
    background-color: blanchedalmond;
    width: 100%;
    height: 92%;
}

.game-buttons {
    background-color: aquamarine;
    width: 100%;
    height: 8%;
}